.TransMaker {
    position: relative;
    text-align: center;
    width: 600px;
    height: 100px;
    font-size: 20px;
    border-radius: 10px;
    margin: 5px;
}

.submitSection {
    position: relative;
    text-align: center;
}